{% extends 'base.html' %}

{% block title %}Adventure Games{% endblock title %}

{% block body %}

<h1 class="my-3 text-center">Adventure Games</h1>

<div class="container my-2">

    <h1 class="my-4 text-center">Get some INfo</h1>

    <div class="row">
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/7ssp44DydyA"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/lM72FOVWg3M"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/kBfn7DNUPLY"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/7iCczf3fHWY"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/XrPZSq5YXqc"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/7d2ZpO2VVMQ"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/GU5vd5Z28UQ"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/SPgixVcfiCE"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
          <iframe width="100%" height="225"src="https://www.youtube.com/embed/hA55WshsKvg"></iframe>
          <div class="card-body">
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                
              </div>
              <small class="text-muted">HPGamers</small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock body %}